<!DOCTYPE HTML>
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet")
		link(rel="stylesheet" href="normalize.css")
		link(rel="stylesheet" href="style.css")
		link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
		
		// Bootstrap
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
		script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
		// /Bootstrap
		
		// Slick Slider
		link(rel="stylesheet" type="text/css" href="scripts/slick/slick.css")
		// /Slick Slider
			
	body
		// Шапка
		header
			.header
				a.header__logo-a(href="./beton.html")
					img.header__logo(src="images/header__logo.png")
				ul.header-menu#menu
					li.header-menu__item
						a(href="#about-comp").active О компании
					li.header-menu__item.header-menu__item-dot
					li.header-menu__item
						a(href="#why-us") Продукция
					li.header-menu__item.header-menu__item-dot
					li.header-menu__item
						a(href="#delivery") Доставка
					li.header-menu__item.header-menu__item-dot
					li.header-menu__item
						a(href="#payment") Оплата
					li.header-menu__item.header-menu__item-dot
					li.header-menu__item
						a(href="#contacts") Контакты						
				.header__phones
						.header__phones-phone +37533
							span.header__phones-phone_yellow 318-96-32
						a(href="#header-btn" data-toggle="modal" data-target="#modal-box_call-back").header__phones-btn Заказать звонок
				// Мобильное меню - кнопка 
				input(type="checkbox" name="mobile-menu" id="mobile-menu_stroke-cross" style="display:none;")
				.mobile-menu
					label.mobile-menu__strokes(for="mobile-menu_stroke-cross")
						.mobile-menu__stroke.mobile-menu__stroke-cross1
						.mobile-menu__stroke.mobile-menu__stroke-cross2
						.mobile-menu__stroke.mobile-menu__stroke-cross3
				// Мобильное меню - Меню 
				.mobile-menu__menu
					ul.mobile-menu__item#mobile-menu
						li 
							a(href="#about-comp").mobile-menu__item-a ПОТОЛКИ
						li
							a(href="#why-us").mobile-menu__item-a ПРОДУКЦИЯ
						li
							a(href="#delivery").mobile-menu__item-a ДОСТАВКА
						li 
							a(href="#payment").mobile-menu__item-a ОПЛАТА
						li 
							a(href="#contacts").mobile-menu__item-a КОНТАКТЫ
		// /Шапка
		
		// Слайдер
		.cell.slider-cell
			.slider
				img.slider__img(src='images/slider-bg.png')
				.slider-window
					.slider-text
						.slider-text__item1
							span.slider-text__item1-span Товарный бетон и раствор						
						.slider-text__item2
							span.slider-text__item2-span Оптом и в розницу
		// /Слайдер
		
		// Рассчитать стоимость бетона
		.cell
			.calc-price-bg
				.calc-price
					.calc-price__title Рассчитать стоимость бетона
					form.calc-price-form
						input(type="text" id="name" name="name" placeholder="Имя").form-input
						select(name="concrete-mark").form-input
							option(value="100") Бетон марки 100
							option(value="150") Бетон марки 150
							option(value="200") Бетон марки 200
							option(value="250") Бетон марки 250
						select(name="concrete-mark").form-input
							option(value="100") Бетон марки 100
							option(value="150") Бетон марки 150
							option(value="200") Бетон марки 200
							option(value="250") Бетон марки 250
						input(type="text" id="tel" name="tel" placeholder="Номер телефона").form-input
						input(type="text" id="kol-vo" name="kol-vo" placeholder="Количество кубов").form-input
						input(type="submit" value='отправить').form-input.form-submit
		// /Рассчитать стоимость бетона
		
		// Наш ассортимент
		.cell
			.our-range
				.our-range__title.mod_posr
					#about-comp.mod_anchor-padd
					h1 Наш ассортимент
				.our-range-items
					
					
					// Наш ассортимент - ячейка
					.our-range-item
						cart-title.our-range-item__title Бетон М-100
						.our-range-item__btn(data-toggle="modal" data-target="#modal-box_assort" onclick='concreteMark()') ЗАКАЗАТЬ
						
						script(src='scripts/card-add-field.js')
						
						
					// Наш ассортимент - ячейка
					- for(i=0;i<=12;i++)
						.our-range-item
							.our-range-item__title Бетон М-150
							.our-range-item__btn(data-toggle="modal" data-target="#modal-box_assort") ЗАКАЗАТЬ
						
					// Наш ассортимент - три пустых вспомогательных элемента	
					.our-range-item__empty(style="width:265px")
					.our-range-item__empty(style="width:265px")
					.our-range-item__empty(style="width:265px")
							
		// Модальное окно - Ассортимент
		
		.modal.fade#modal-box_assort(tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true")
			.modal-box.modal-box_assort.modal-dialog
				form.modal-box-form
					.modal-box__title
						.modal-box__title-text Заказать продукт
						.modal-box__title-underline
					input.modal-box-form__input(type="text" name="assort__name" placeholder="Имя")#assort__name
					input.modal-box-form__input(type="text" name="assort__tel" placeholder="Номер телефона")#assort__tel
					input.modal-box-form__input(type="text" name="assort__cubes" placeholder="Количество кубов")#assort__name
					
					input.modal-box-form__input(name='assort__mark-select' value='Бетон марки 150')#assort__mark
					
					input.modal-box-form__submit(type="submit" value="Оформить заказ")
					.modal-box__note *Ваши персональные данные в безопасности

		// /Модальное окно - Ассортимент
		
		// /Наш ассортимент
		
		// Почему выбирают нас
		.cell
			.cell-why-us
				.why-us
					.why-us__title.mod_posr
						#why-us.mod_anchor-padd
						h1 Почему выбирают нас
					.why-us-items
						// Почему выбирают нас - ячейка
						.why-us-item
							img(style="background-image: url('images/why-us__trucks.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								p Гарантируем соблюдение сроков.
									br
									| Доставляем продукцию на собственной спецтехнике
									br
									| Миксеры объемом 7м3
								
						// Почему выбирают нас - ячейка
						.why-us-item
							img(style="background-image: url('images/why-us__machine.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								p Мы являемся производителем и предлагаем наиболее выгодные условия сотрудничества
								
						// Почему выбирают нас - ячейка
						.why-us-item
							img(style="background-image: url('images/why-us__scale.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								p Качество продукции соответствует ГОСТу.
									br
									| Мы используем итальянское высококачественное оборудование
								
						// Почему выбирают нас - ячейка
						.why-us-item
							img(style="background-image: url('images/why-us__money.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								p Мы отгружаем ровно столько бетона, сколько вы заказали.
									br
									| Доставка бетона по: Ляховичи, Барановичи, Несвиж, Клецк и их районам
								
						// Почему выбирают нас - ячейка
						.why-us-item
							img(style="background-image: url('images/why-us__discount.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								p Низкие цены и гибкие условия оплаты.
								
						// Почему выбирают нас - ячейка
						.why-us-item
							img(style="background-image: url('images/why-us__medal.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								p Система скидок
								
		// /Почему выбирают нас
		
		// Как мы работаем
		.cell
			.we-work
				.we-work__title.mod_posr
					#delivery.mod_anchor-padd
					h1 Как мы работаем
				.we-work-items
					// Как мы работаем - ячейка
					.we-work-item
						img(src="images/we-work__call.png").we-work-item__img
						.we-work-item__title Заявка на звонок
						
					// Как мы работаем - ячейка
					.we-work-item
						img(src="images/we-work__calc.png").we-work-item__img
						.we-work-item__title Расчет стоимости
						
					// Как мы работаем - ячейка
					.we-work-item
						img(src="images/we-work__proizvodstvo.png").we-work-item__img
						.we-work-item__title Производство
						
					// Как мы работаем - ячейка
					.we-work-item
						img(src="images/we-work__delivery.png").we-work-item__img
						.we-work-item__title Доставка в срок
						
					// Как мы работаем - ячейка
					.we-work-item
						img(src="images/we-work__pleasure.png").we-work-item__img
						.we-work-item__title Вы довольны результатом						
						
		// /Как мы работаем
		
		// Отправьте заявку
		.cell
			.cell-send-app
				.send-app
					// Заголовок
					.send-app__title1 Не нашли нужную информацию?
					.send-app__title2 Отправьте заявку и мы вышлем Вам полный прайс-лист
					// Форма отправки заявки
					form.send-app-form
						input(type='text' name='price-name' placeholder='Имя').form-input
						input(type='text' name='price-tel' placeholder='Номер телефона').form-input
						input(type='text' name='price-mail' placeholder='Электронная почта').form-input
						input(type='submit' value='отправить').form-input.form-submit
		// /Отправьте заявку
		
		// Наши гарантии
		.cell
			.our-guarant-s
				.we-work__title.mod_posr
					#payment.mod_anchor-padd
					h1 Наши гарантии
				.we-work-items
					// Наши гарантии - ячейка
					.we-work-item
						img(src="images/our-guarant-s__quality.png").we-work-item__img
						.we-work-item__title Производство импортное, полностью сертифицировано и автоматизировано
			
					// Наши гарантии - ячейка
					.we-work-item
						img(src="images/our-guarant-s__deadlines.png").we-work-item__img
						.we-work-item__title Если мы сорвем сроки доставки, то вернем вам  0,1 % от стоимости заказа
			
					// Наши гарантии - ячейка
					.we-work-item
						img(src="images/our-guarant-s__low-price.png").we-work-item__img
						.we-work-item__title Если вы найдете стоимость дешевле, чем у нас - вернем вам разницу в цене
		// /Наши гарантии
		
		// Компания и услуги
		.cell.cell-company
			img(src='images/company__img-left.png').company__img-left
			img(src='images/company__img-right.png').company__img-right
			.company
				.company__title.mod_posr
					#contacts.mod_anchor-padd
					h1 Компания и услуги
				.company__text 
					h3 Продажа и доставка бетона
					p Компания «БетонКАМстрой» известна на белорусском рынке с 2011 как надежный поставщик высококачественного бетона. Доставляем бетон на стройплощадки Ляховичей, Барановичей, Несвижа, Клецка и их районов
					p Оформить заявку на поставки бетона и раствора можно с 8:00 до 22:00 по телефону и электронной почте. Купить бетон в «БетонКАМстрой» могут как организации, так и физические лица. 
					h3 Доставка бетона
					p Качественный бетон нуждается в правильном хранении и особых условиях транспортировки. Сотрудники «БетонКАМстрой» перевозят бетон в специально оборудованных машинах. Такой способ транспортировки позволяет сохранить однородность и подвижность смесей, избежать несвоевременного затвердевания. Благодаря этому продукция сохраняет свои изначальные свойства и характеристики. Гарантируем своевременную доставку бетона. Продажа бетона и доставка осуществляются оперативно, качественно. 
					h3 Стоимость и сроки предоставления услуг
					p Мы заинтересованы в длительном и плодотворном сотрудничестве с нашими заказчиками. Наши клиенты, однажды заказав услугу, остаются довольны и обращаются снова. Вы тоже можете стать нашим постоянным клиентом. Цена бетона, доставки вас порадует. Гибкая ценовая политика, качество услуг и своевременность выполнения заявок - важнейшие приоритеты компании. 
					br
					h3 Есть проблема? Звоните, и мы поможем ее решить.
		// /Компания и услуги
		
		// Компания и услуги - II(ячейки - из "Почему выбирают нас - ячейка")
		.cell
			.company-ii
				.why-us__title
					h1 Компания и услуги
				.why-us__description 99% наших клиентов остаются довольны качеством товара и качеством услуг
				.why-us-items.why-us-slider
					
					.why-us-items__col
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
					
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике

					.why-us-items__col
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
									
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
					
					.why-us-items__col
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
									
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
		
					.why-us-items__col
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
									
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
		
					.why-us-items__col
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
									
						// Компания и услуги - II - ячейка
						.why-us-item
							img(style="background-image: url('images/company-ii__ivan.png'); background-position: center; background-repeat: no-repeat;").why-us-item__img
							.why-us-item__text
								.why-us-item__text-title
									strong Иван Иванов
								p 
									i Гарантируем соблюдение сроков.
									br
									i Доставляем продукцию на собственной спецтехнике
		
		// Карта							
		.cell
			.map
				<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A84735db6315fd17908a7473944874eec13c4ab723519726c47260b0342ff76e2&amp;lang=ru_RU&amp;scroll=true&amp;source=constructor" width="100%" height="350" frameborder="0"></iframe>
		// /Карта		
		// Подвал
		footer
			.footer
				img.footer__logo(src='images/footer__logo.png')
					
				.footer__phone-mail
					.footer__mail
						i(class="fa fa-envelope" aria-hidden="true")
						| beton@mail.ru
						
					.footer__phones
						.footer__phones-phone
							i.fa.fa-phone(aria-hidden="true") 
							| +37533
							span.footer__phones-phone_yellow 318-96-32
				.footer__call-back(data-toggle="modal" data-target="#modal-box_call-back") Заказать звонок
				
				// Модальное окно - Заказать звонок
				.modal.fade#modal-box_call-back(tabindex="-1" role="dialog" aria-labelledby="assort-btn" aria-hidden="true")
					.modal-box.modal-dialog
						form.modal-box-form
							.modal-box__title
								.modal-box__title-text Заказ обратного звонка
								.modal-box__title-underline
							input.modal-box-form__input(type="text" name="call-back__name" placeholder="Имя")#call-back__name
							input.modal-box-form__input(type="text" name="call-back__tel" placeholder="Номер телефона")#call-back__tel
							input.modal-box-form__submit(type="submit" value="Заказать звонок")
							.modal-box__note *Ваши персональные данные в безопасности
				// /Модальное окно - Заказать звонок
				
				// Кнопка "Вверх"
				a(href="#" style="display: none;").to-top.mobile-hide
					i(aria-hidden="true").to-top__arrow.fa.fa-angle-up
				// /Кнопка "Вверх"
				
				// Подключение скриптов
				
				// jQuery
				script(src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous")
				// Плавный переход по якорям
				script(src="scripts/smooth-transition.js")
				// Переход к верху страницы
				script(src="scripts/scroll-to-top.js")
				
				// Подключение Slick slider

				// Инициация Slick Slider
				script(type="text/javascript" src="scripts/slick/slick.min.js")
				script(src='scripts/slick/slider-init.js')
				
				// /Подключение скриптов
				
		// /Подвал
// плагин autoreload. по завершении разработки - удалить
script(src="http://localhost:35729/livereload.js")
