$site-width-standart: 1110px; //ширина сайта
$site-width-medium: 1200px; //средняя ширина сайта
$white: #fff; //белый цвет
$yellow: #ffea00; //желтый цвет
$blue: #00a9f7; //синий цвет
$grey: #79758A; //серый цвет(плейсхолдеры)
